.side-bar{
    max-height:100vh;;
    display:inline-flex;
    flex-direction: column;
    padding:15px 15px;
    justify-content: space-between;
    background-color: rgba(193, 193, 193, 0.927);  
}
.side-bar img{
    width:20px;
}

.side-bar .menu{
    display:block;
    margin-left:20px;
    cursor:pointer;
}
.side-bar .new-chat{
    margin-top:20px;
    display:inline-flex;
    align-items: center;
    gap:10px;
    padding:10px 14px;
    background-color: rgb(226, 226, 226);
    border-radius: 50px;
    font-size: 14px;
    color:rgb(103, 91, 91);
    cursor:pointer;
}
.side-bar .recent{
    display: flex;
    flex-direction: column;
    animation:fadeIn 1.3s;
}
.side-bar .recent-title{
    margin-top:10px;
    margin-bottom:10px;
}
.side-bar .recent-entry{
    display:flex;
    align-items: start;
    gap:10px;
    padding:10px;
    padding-right:40px;
    border-radius: 50px;
    color:grey;
    cursor:pointer;
}
.side-bar .recent-entry:hover{
    background-color: whitesmoke;
}
.side-bar .bottom{
    display: flex;
    flex-direction: column;
}
.side-bar .bottom-item{
    padding-right: 10px;
    cursor:pointer;
}
@media (max-width:600px){
    .side-bar{
        display: none;
    }
}